.vl {
    border-left: 1px solid white;
    height: 723px;
    margin-top: 50px;
    margin-left: 37px;
  }
 .info h1{
    top: 310px;
    bottom: 50px;
    right: 720px;
    position: absolute;
    font-size: 15px;
  }
  .info input[type=text] {
    position:absolute;
    top: 350px;
    right: 460px;
    width: 300px;
    height: 35px;
    background-color: #383838;
    border-radius: 8px;
      
  }